@using LibraryManagementSystem.Models.Entity
@model List<personnels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personel Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Personel</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var personnel in Model)

    {
        <tr>
            <td>@personnel.id</td>
            <td>@personnel.personnel</td>
            <td>
                @Html.ActionLink("Sil","DeletePersonnel", new { id = personnel.id }, new { @class="btn btn-danger",
       onclick="return confirm('Silmek istiyor musunuz?')"})
            </td>
            <td><a href="/Personnel/GetPersonnel/@personnel.id" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>

<a href="/Personnel/AddPersonnel/" class="btn btn-primary">Personel Ekle</a>
