@model LibraryManagementSystem.Models.Entity.authors

@{
    ViewBag.Title = "GetAuthor";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Güncelle</h2>

@using (Html.BeginForm("UpdateAuthor", "Author", FormMethod.Post))
{
    <div style="margin-bottom:25px"></div>
    <div class="form-group">
        <label>ID</label>
        @Html.TextBoxFor(author => author.id, new { @class = "form-control" })

        <br />

        <label>Yazar Adı</label>
        @Html.TextBoxFor(author => author.first_name, new { @class = "form-control" })
        <br />

        <label>Yazar Soyadı</label>
        @Html.TextBoxFor(author => author.last_name, new { @class = "form-control" })
    </div>

    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}

